{% extends 'base.html' %}

{% block content %}
<div class="login-container">
    <div class="login-card">
        <h1>Hola</h1>
        <form method="post">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" name="username" placeholder="Usuario" required>
            </div>
            <div class="input-group">
                <input type="password" name="password" placeholder="Contraseña" required>
            </div>
            <button type="submit" class="btn-primary">Entrar</button>
        </form>
    </div>
</div>
{% endblock %}